In [1]:
"""
from netCDF4 import Dataset, num2date
from tensorflow.keras import datasets, layers, models
from sklearn.model_selection import train_test_split
import cartopy.crs as ccrs
import cartopy.feature as cf
import tensorflow as tf
"""
import matplotlib.pyplot as plt
import pandas as pd
import re
import numpy as np
import time
import os

In [349]:
#Obtiene los datos de precipitacion de un archivo csv (regresa una lista de [nombre,longitud,latitud,altura,dato,año,mes,dia,hora]
def procesarDatos(estaciones,valores):  
    #Obtenemos la informacion de los archivos
    #"Valores"  Contiene los valores de los datos de precipitacion de manera horaria por estacion (codigo)
    #"estaciones" Contiene los daots de cada estacion (cordenadas,codigo,etc)  
    try:
        station = pd.read_csv(estaciones)
        values = pd.read_csv(valores)    
    except:
        print("No se pudo leer los archivos")
        return False
    
    #Lista de [nombre,longitud,latitud,altura,dato,año,mes,dia,hora]
    resultado = []
    
    #Numero de columnas y filas
    m = [t for t in values]        
    n = len(values.index) 

    
    
    #Auxiliares
    total = len(m) - 1 
    completados = 1 
    
    for i in m[1:]:            
        st = station[station['CODE'] == i]           
        if not st.empty: 
            progreso = completados/total*100
            f = '{0:.3g}'.format(progreso)
            print(f"{st['ESTACION'].iloc[0]} - {f}%")
            for j in range(0,n):                     
                fecha,hora = values[m[0]][j].split(' ')
                fecha = fecha.split('-')
                hora= hora.split(':')[0]                
                #Solo se guarda los datos del 2018 en adelante y no sea NA
                if int(fecha[0]) >= 2018 and not pd.isna(values[i][j]):                     
                    fechaT = f"{fecha[0]}-{fecha[1]}-{fecha[2]}-{hora}"
                    resultado.append([st['ESTACION'].iloc[0],st['LON'].iloc[0],st['LAT'].iloc[0],st['ALT'].iloc[0],values[i][j],fechaT])
            completados = completados + 1
                
    
    #Guardamos en un csv los datos 
    print("Guardando los datos al archivo dataset....")
    df = pd.DataFrame(resultado, columns =['nombre','longitud','latitud','altura','dato','fecha'])
    df.to_csv('datasetV3.csv')
   
    return True

In [14]:
estaciones = 'C:/Users/Shounen/Desktop/Ciclo XI/Tesis 2/SENAMHI/temp/estaciones.csv'
valores = 'C:/Users/Shounen/Desktop/Ciclo XI/Tesis 2/SENAMHI/temp/values.csv'

resultado = procesarDatos(estaciones,valores)
print(resultado)

ALAMOR - 0.31%
LA ARDILLA - 0.619%
AYABACA - 0.929%
CABO INGA H - 1.24%
CABO INGA M - 1.55%
CAMPAMENTO SEDE - 1.86%
CANCHAQUE - 2.17%
CA?AVERAL - 2.48%
CHALACO - 2.79%
CHIPILLICO - 3.1%
CHULUCANAS - 3.41%
CORRAL DEL MEDIO - 3.72%
EL CIRUELO - 4.02%
EL CIRUELO ANA - 4.33%
EL TIGRE - 4.64%
EL VIRREY - 4.95%
HACIENDA BARRIOS - 5.26%
HUALCUY - 5.57%
HUANCABAMBA - 5.88%
HUARMACA - 6.19%
HUASIMO - 6.5%
LAGARTERA - 6.81%
LANCONES - 7.12%
PUENTE MACARA - 7.43%
MALACASI - 7.74%
MATAPALO - 8.05%
MORROPON - 8.36%
PAIMAS - 8.67%
PUENTE ?ACARA - 8.98%
PUENTE ?ACARA ANA - 9.29%
PUENTE SIMON RODRIGUEZ - 9.6%
PUENTE TUMBES - 9.91%
RICA PLAYA - 10.2%
SALITRAL - 10.5%
SALITRAL EHA - 10.8%
SAN PEDRO - 11.1%
SAPILLICA - 11.5%
TAMBO GRANDE - 11.8%
CHANCAY BA?OS - 12.1%
CIRATO - 12.4%
CORRAL QUEMADO - 12.7%
CUMBA - 13%
HUAMBOS - 13.3%
ISLA LOBOS DE AFUERA - 13.6%
LA MUCHAL - 13.9%
MAGUNCHAL - 14.2%
MOTUPE - 14.6%
NARANJITO - 14.9%
OLMOS - 15.2%
PUENTE AMBAN - 15.5%
PUENTE SALINAS AMOJAO - 15.8%
PUENTE SAN CARLOS - 16.1%
TINAJONES - 16.4%
TONGOD - 16.7%
TUNEL CHOTANO - 17%
BALSAS - 17.3%
BAMBAMARCA GORE - 17.6%
BAMBAMARCA H GORE - 18%
CAJABAMBA GORE - 18.3%
CALLANCAS - 18.6%
CAPACHIQUE - 18.9%
CASA GRANDE - 19.2%
CASCABAMBA - 19.5%
CASCAS - 19.8%
CELENDIN GORE - 20.1%
CHIMBOTE - 20.4%
CHOTA GORE - 20.7%
CHUGUR - 21.1%
COSPAN - 21.4%
CRISNEJAS - 21.7%
CUTERVO GORE - 22%
EL TAMBO - 22.3%
GUZMANGO - 22.6%
HUALLAPE - 22.9%
JAEN GORE - 23.2%
LUCMA - 23.5%
MALABRIGO (SALAVERRY) - 23.8%
MARMOT - 24.1%
QUIRUVILCA - 24.5%
PUENTE CHILETE - 24.8%
PUENTE COINA - 25.1%
PUENTE PALMIRA - 25.4%
RIO GRANDE GORE - 25.7%
RONQUILLO - 26%
SAN IGNACIO GORE - 26.3%
SAN MARCOS - 26.6%
UNC CAJAMARCA - 26.9%
USQUIL - 27.2%
YONAN GORE - 27.6%
AGOCANCHA - 27.9%
ANDACANCHA - 28.2%
ANTACOTO - 28.5%
CALLANCA - 28.8%
CARAC - 29.1%
CARANIA - 29.4%
CASAPALCA - 29.7%
CHAVIN - 30%
CHOSICA - 30.3%
COLLAC - 30.7%
CUCHUANCA - 31%
EMA-ANTONIO RAIMONDI - 31.3%
HUAROS - 31.6%
MATUCANA - 31.9%
MARCAPOMACOCHA - 32.2%
MARCAPOMACOCHA EDEGEL - 32.5%
MILLOC EDEGEL - 32.8%
OBRAJILLO - 33.1%
PACHACOTO - 33.4%
PALLAC EMA - 33.7%
PATAHUAY SAPICANCHA - 34.1%
PIRCA - 34.4%
PUENTE CALLANTAMA - 34.7%
PUENTE MAGDALENA - 35%
PUENTE SALIDA MARCAPOMACOCHA - 35.3%
RECUAY - 35.6%
SAN CRISTOBAL - 35.9%
SAN MATEO DE OTAO - 36.2%
SANTA EULALIA - 36.5%
SANTA CRUZ - 36.8%
SANTIAGO DE TUNA - 37.2%
SANTO DOMINGO - 37.5%
SAYAN - 37.8%
SHEQUE - 38.1%
TOROCOCHA - 38.4%
VICHAYCOCHA - 38.7%
VILLA MARIA DEL TRIUNFO - 39%
VON HUMBOLDT - 39.3%
YURACMAYO EDEGEL - 39.6%
BETA SANTIAGO - 39.9%
CHALLACA - 40.2%
CHALLACA GORE - 40.6%
CONTA GORE - 40.9%
CORA CORA - 41.2%
CUSICANCHA GORE - 41.5%
HUAC-HUAS GORE - 41.8%
HUALLPOCA GORE - 42.1%
LETRAYOC GORE - 42.4%
OCUCAJE - 42.7%
PAUCARAY - 43%
SAN JUAN DE MARCONA - 43.3%
SAN PEDRO DE HUACARPANA GORE - 43.7%
SANTIAGO DE CHOCORVOS GORE - 44%
BOLLADERO - 44.3%
CHIVAY - 44.6%
COTACOTA - 44.9%
COTAHUASI - 45.2%
CRUCERO ALTO - 45.5%
EMA PAMPA DE MAJES - 45.8%
HUANCA - 46.1%
IMATA - 46.4%
LA ANGOSTURA - 46.7%
OCO?A - 47.1%
PATAHUASI - 47.4%
PILLONES - 47.7%
SAN JOSE DE UZUNA - 48%
SOCOSANI - 48.3%
SUMBAY - 48.6%
TINGO GRANDE - 48.9%
VISCA VISCA - 49.2%
BOCATOMA EL AYRO - 49.5%
CANDARAVE - 49.8%
CAPLINA - 50.2%
CERRO BLANCO - 50.5%
CHALLATA - 50.8%
CHUAPALCA - 51.1%
CORACHAY II - 51.4%
CORUCA - 51.7%
LAGUNA ARICOTA - 52%
LAGUNA VILACOTA - 52.3%
MATARANI - 52.6%
MOQUEGUA - 52.9%
PUENTE TALAPALCA - 53.3%
PUENTE VIEJO - 53.6%
REPRESA JARUMAS - 53.9%
REPRESA PAUCARANI - 54.2%
SALIDA TUNEL KOVIRE - 54.5%
TARATA - 54.8%
VILACOTA - 55.1%
CABALLOCOCHA - 55.4%
CONTAMANA - 55.7%
ENAPU PERU - 56%
PEBAS - 56.3%
REQUENA - 56.7%
SANTA CLOTILDE - 57%
CAMPANILLA - 57.3%
EL PORVENIR - 57.6%
HUAYABAMBA - 57.9%
NARANJILLO - 58.2%
TOCACHE - 58.5%
CACHICOTO - 58.8%
CALLERIA - 59.1%
CHINCHAVITO - 59.4%
PUENTE BELLA - 59.8%
PUERTO ESPERANZA - 60.1%
PUERTO INCA - 60.4%
PUENTE PEREZ - 60.7%
SANTA ANA - 61%
TARUCA - 61.3%
TINGO MARIA - 61.6%
HUANCAVELICA - 61.9%
HUAYTAPALLANA - 62.2%
INIA CANAAN - 62.5%
OXAPAMPA - 62.8%
PAMPA CANGALLO - 63.2%
TARMA - 63.5%
ABANCAY (G. SAN ANTONIO) - 63.8%
ACJANACO - 64.1%
ANTABAMBA - 64.4%
CALCA - 64.7%
CASACCANCHA - 65%
HUACULLO - 65.3%
HUAYLLABAMBA - 65.6%
INTIHUATANA H - 65.9%
INTIHUATANA M - 66.3%
I?APARI - 66.6%
MACHUPICCHU - 66.9%
MALINOWSKY - 67.2%
MARCAPATA - 67.5%
NUEVO PISAC - 67.8%
PACAYMAYO - 68.1%
PUNANQUI - 68.4%
QORIHUAYRACHINA - 68.7%
QUILLABAMBA - 69%
SALCCA - 69.3%
SAN PABLO - 69.7%
SANTA ROSA CHAPIMARCA - 70%
SANTA TERESA - 70.3%
SANTO TOMAS - 70.6%
SICUANI - 70.9%
SORAYPAMPA - 71.2%
AYAVIRI - 71.5%
ILLPA - 71.8%
JULIACA - 72.1%
LAGUNILLAS - 72.4%
LARAQUERI - 72.8%
PALCA - 73.1%
PAMPAHUTA - 73.4%
PUENTE CARRETERA - 73.7%
PUNO - 74%
ANCOAQUE - 74.3%
ANTIOQUIA - 74.6%
AUTISHA - 74.9%
AYAHUITUNA - 75.2%
AYMANA - 75.5%
BAGUA - 75.9%
BOCATOMA ATARJEA - 76.2%
BUENA VISTA - 76.5%
CANAD - 76.8%
CADASBAMBA - 77.1%
CAMPO DE MARTE - 77.4%
CANAL CASHAMPA - 77.7%
CANETE - 78%
CAROCURAHUAYTE COHIDRO - 78.3%
CASMA - 78.6%
CCONTACC - 78.9%
CHACAPALCA - 79.3%
CHACAS - 79.6%
CHARCANI PSI - 79.9%
CHICHILAPAS - 80.2%
CHILCA - 80.5%
CHIQUIAN - 80.8%
COCHAMARCA - 81.1%
CONTAMANA COHIDRO - 81.4%
CORDOVA GORE - 81.7%
CORONGO - 82%
ENAPU COHIDRO - 82.4%
ESTRELLA COHIDRO - 82.7%
FONAGRO GORE - 83%
HUACHOS GORE - 83.3%
HUAMANI EL TAMBO GORE - 83.6%
HUANCASAYA - 83.9%
HUARMEY - 84.2%
HUASCACOCHA - 84.5%
ILAVE - 84.8%
ISCAHUACA - 85.1%
JUANCITO COHIDRO - 85.4%
LA FORTUNA - 85.8%
MARCA CUNKA - 86.1%
MARISCAL CASTILLA COHIDRO - 86.4%
NEPEDA - 86.7%
NUEVA ALEGRIA COHIDRO - 87%
NUEVA REFORMA COHIDRO - 87.3%
NANA - 87.6%
OCROS - 87.9%
PAMPA GALERAS - 88.2%
PARIACANCHA - 88.5%
PASTO RURI - 88.9%
PICHARI - 89.2%
POMABAMBA - 89.5%
PONGO DE MAINIQUE - 89.8%
PUCA PUCA - 90.1%
PUCALLPA COHIDRO - 90.4%
PUENTE CUPICHE - 90.7%
PUENTE PAMPAS - 91%
PUERTO ALEGRIA COHIDRO - 91.3%
PUERTO BERMUDEZ - 91.6%
PURHUAY - 92%
QUILLCAYHUANCA  - 92.3%
RIO BLANCO - 92.6%
SALVACION - 92.9%
SAN BORJA - 93.2%
SAN LUIS COHIDRO - 93.5%
SAN MARTIN - 93.8%
SAN NICOLAS - 94.1%
SANTA ANITA - 94.4%
SANTA ISABEL COHIDRO - 94.7%
SATIPO - 95%
SAUCEPAMPA - 95.4%
SEGUE - 95.7%
SELVA ALEGRE COHIDRO - 96%
SHANCAYAN - 96.3%
SHAQUEK - 96.6%
SHEQUE SEDAPAL - 96.9%
SHILLA - 97.2%
SIBINACOCHA - 97.5%
TAMBORAQUE - 97.8%
TANCAYLLO - 98.1%
TICAPAMPA - 98.5%
TINGUA - 98.8%
UPINA - 99.1%
YASO - 99.4%
YURACMAYO LAGUNA - 99.7%
12 DE OCTUBRE - 100%
Guardando los datos al archivo dataset....
True

In [2]:
#Comprobamos el formato del archivo creado
datos = pd.read_csv('datasetV3.csv')
datos

,Unnamed: 0,nombre,longitud,latitud,altura,dato,fecha
0,0,ALAMOR,-80.39788,-4.48047,116.0,0.0,2018-01-02-00
1,1,ALAMOR,-80.39788,-4.48047,116.0,0.0,2018-01-02-01
2,2,ALAMOR,-80.39788,-4.48047,116.0,0.0,2018-01-02-02
3,3,ALAMOR,-80.39788,-4.48047,116.0,0.0,2018-01-02-03
4,4,ALAMOR,-80.39788,-4.48047,116.0,0.0,2018-01-02-04
...,...,...,...,...,...,...,...
6433603,6433603,12 DE OCTUBRE,-76.52927,-10.60641,NaN,0.0,2021-06-30-19
6433604,6433604,12 DE OCTUBRE,-76.52927,-10.60641,NaN,0.0,2021-06-30-20
6433605,6433605,12 DE OCTUBRE,-76.52927,-10.60641,NaN,0.0,2021-06-30-21
6433606,6433606,12 DE OCTUBRE,-76.52927,-10.60641,NaN,0.0,2021-06-30-22
6433607,6433607,12 DE OCTUBRE,-76.52927,-10.60641,NaN,0.0,2021-06-30-23

In [17]:
#Vamos a seleccionar una parte del dataset para las pruebas (2019 del mes 1,2) y lo guardamos en un csv
datosX = datos[datos['fecha'].str.contains('2019-01|2019-02', regex=True)]
datosX.to_csv('pruebasV3.csv')
datosX

,Unnamed: 0,nombre,longitud,latitud,altura,dato,fecha
8304,8304,ALAMOR,-80.39788,-4.48047,116.0,0.0,2019-01-02-00
8305,8305,ALAMOR,-80.39788,-4.48047,116.0,0.0,2019-01-02-01
8306,8306,ALAMOR,-80.39788,-4.48047,116.0,0.0,2019-01-02-02
8307,8307,ALAMOR,-80.39788,-4.48047,116.0,0.0,2019-01-02-03
8308,8308,ALAMOR,-80.39788,-4.48047,116.0,0.0,2019-01-02-04
...,...,...,...,...,...,...,...
6425827,6425827,12 DE OCTUBRE,-76.52927,-10.60641,NaN,1.6,2019-02-28-19
6425828,6425828,12 DE OCTUBRE,-76.52927,-10.60641,NaN,0.4,2019-02-28-20
6425829,6425829,12 DE OCTUBRE,-76.52927,-10.60641,NaN,0.1,2019-02-28-21
6425830,6425830,12 DE OCTUBRE,-76.52927,-10.60641,NaN,0.0,2019-02-28-22
6425831,6425831,12 DE OCTUBRE,-76.52927,-10.60641,NaN,0.0,2019-02-28-23

In [3]:
def fechaInt(fechaStr):
    x = fechaStr.split('-')
    year = x[0][2:]
    return (int(year)*1000000) + (int(x[1])*10000)  + (int(x[2])*100) + int(x[3])

In [4]:
def quitaNoAlfaNum(texto):
    import re
    texto = texto.replace(' ',"")
    return re.compile(r'\W+', re.UNICODE).split(texto)

In [25]:
def Grafico(df,filename):
    
    x = df.index
    y = df['dato']   
    
    plt.scatter(x=x,y=y, alpha=0.1)
    plt.xlabel("Indices")
    plt.ylabel("Precipitacion (mm/h)")
    plt.title(f"{filename.split('/')[-1][:-4]}")
    plt.axhline(y=y.quantile(0.99), color='r', linestyle='-')
    
    plt.savefig(filename)
    plt.show()

    return True

In [38]:
#Realizaremos un resumen de los datos
path_base = 'C:/Users/Shounen/Desktop/Ciclo XI/Tesis 2/'
estaciones = 'C:/Users/Shounen/Desktop/Ciclo XI/Tesis 2/SENAMHI/temp/estaciones.csv'
stations = pd.read_csv(estaciones)

#Por cada estacion se hallara:
#Cantidad de datos
#Promedio
#Varianza
#Valor min 
#Valor max
#Fecha minima
#Fecha Maxima
#Cantidad de datos atipicos (Mayores a )


#Graficos
#- Boxplot
#- Dispersion
#- Barras (Media)
#- Barras (Max)


#Creamos la carpeta plots para los graficos
try:
    path = os.path.join(path_base, 'PLOTS')
    os.mkdir(path)
except FileExistsError:
    pass
    


resultado = []
#Por cada estacion se realizara lso graficos
for i in stations.index:    
    station = stations['ESTACION'][i]
    code = stations['CODE'][i]
    
    #Creamos la carpeta de la estacion
    try:
        path_plot = os.path.join(path, code)
        os.mkdir(path_plot)
    except FileExistsError:
        pass
    except:
        print(f"No se pudo/encontrar el directorio {station}")  
    
    
    tempDato = datos.loc[datos['nombre']==station]      
    
    stats = tempDato['dato'].describe()
    stats = stats.to_dict()    
    fmin = tempDato['fecha'].min()
    fmax = tempDato['fecha'].max()    
    stats['FechaMax'] = fmax
    stats['count'] = int(stats['count'])
    stats['FechaMin'] = fmin    
    stats['Nombre'] = station
    stats['Codigo'] = code
    stats['ceros'] = tempDato.loc[tempDato['dato']==0].count()[0]
    stats['75mayor'] = tempDato.loc[tempDato['dato']>stats['75%']].count()[0]
    stats['99mayor'] = tempDato.loc[tempDato['dato']>tempDato['dato'].quantile(0.99)].count()[0]
    stats['99%'] =  tempDato['dato'].quantile(0.99)
    resultado.append(stats)
        
    #tempDato2 = tempDato.reset_index()    
    start_time = time.time() 
    #Grafico(tempDato2,f'{path_plot}/{code}_scatter.png') 
 
    print("Time taken: %.2fs" % (time.time() - start_time)) 
    

#datos

Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s
Time taken: 0.00s

In [39]:
len(resultado)

323

In [40]:
df = pd.DataFrame(resultado)
df

,count,mean,std,min,25%,50%,75%,max,FechaMax,FechaMin,Nombre,Codigo,ceros,75mayor,99mayor,99%
0,29184,0.033587,0.610536,0.0,0.0,0.0,0.0,45.4,2021-06-30-23,2018-01-02-00,ALAMOR,X47E0D438,28482,702,283,0.400
1,15792,0.048189,0.746386,0.0,0.0,0.0,0.0,44.0,2021-06-30-23,2018-02-14-00,LA ARDILLA,X47E09732,15377,415,146,0.700
2,29832,0.165202,1.146952,0.0,0.0,0.0,0.0,34.6,2021-06-30-23,2018-01-01-00,AYABACA,X472606FA,25807,4025,293,4.200
3,28680,0.070945,0.720672,0.0,0.0,0.0,0.0,29.4,2021-06-30-23,2018-01-02-00,CABO INGA H,X47E01126,27072,1608,286,1.700
4,27624,0.077929,0.784419,0.0,0.0,0.0,0.0,39.7,2021-06-30-23,2018-01-02-00,CABO INGA M,X472F00A6,26043,1581,270,2.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
318,30240,0.029253,0.223762,0.0,0.0,0.0,0.0,12.6,2021-06-30-23,2018-01-01-00,TINGUA,X4AD0E33A,28467,1773,288,0.800
319,15216,0.146675,0.630536,0.0,0.0,0.0,0.0,9.5,2021-06-30-23,2019-01-01-00,UPINA,X4721B992,13020,2196,153,3.385
320,13152,0.033888,0.379650,0.0,0.0,0.0,0.0,21.8,2021-06-29-23,2018-12-24-00,YASO,X472BA564,12539,613,128,0.800
321,7104,0.195481,0.693536,0.0,0.0,0.0,0.0,14.9,2021-06-30-23,2018-12-29-00,YURACMAYO LAGUNA,X47A06AB8,5609,1495,69,3.300
322,15000,0.129233,0.559863,0.0,0.0,0.0,0.0,10.3,2021-06-30-23,2018-04-09-00,12 DE OCTUBRE,X110137,12806,2194,143,2.900

In [36]:
df
df = df.astype({"count":int})

In [41]:
df.to_csv('resultadosV3.csv')